{% extends 'layouts/master.html.twig' %}

{% block title %} Freddy Evaluación {% endblock %}

{% block stylesheets %} 
    {{parent()}}
{% endblock %}

{% block javascripts %} 
    {{parent()}}
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}

{% block cabecera %} 
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block contenido %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg id="banner1" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Freddy Silva</h1>
                        <p>Evaluación...</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg id="banner2" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
            </div>
            <div class="carousel-item">
                <svg id="banner3" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading text-center">Eventos de usuarios.</h2>
            </div>
            <div class="col-md-12">
                <br>
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha de creación</th>
                            <th>Fecha de modificación</th>
                            <th>IP del usuario</th>
                            <th>User Agent del navegador del usuario</th>
                            <th>Código de país</th>
                            <th>Clave del evento</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fecha de Creación</th>
                            <th>Fecha de modificación</th>
                            <th>IP del usuario</th>
                            <th>User Agent del navegador del usuario</th>
                            <th>Código de país</th>
                            <th>Clave del evento</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
{% endblock %}