<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="max-age=1200">
        <meta name="description" content="Evaluación Freddy">
        <meta name="author" content="Freddy">
        <title>{% block title %} Inicio !{% endblock %}</title>

        {% block stylesheets %}
             {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="//code.highcharts.com/highcharts.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block cabecera %}
                <h1> Sin cabecera </h1>
            {% endblock %}
        </header>

        <section id="content">
            {% block contenido %}
                <h1> Sin contenido </h1>
            {% endblock %}
        </section>

        <footer class="container">
            {% block footer %}
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>&copy; 2021 Company, Inc.</p>
            {% endblock %}
        </footer>
    </body>
</html>