.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
#banner1 {
    background: url('/assets/images/imagen-articulo-new.jpg') no-repeat center;
    background-size: auto;
    background-color: #28e1ff;
}

#banner2 {
    background: url('/assets/images/data-in-hand-new.jpg') no-repeat center;
    background-size: auto;
    background-color: #0e121e;
}

#banner3 {
    background: url('/assets/images/infor-tecno-new.jpg') no-repeat center;
    background-size: auto;
    background-color: #070808e8;
}